*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/IMG/hojas-tropicales-sobre-fondo-azul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    color: white;
    text-shadow: -3px 3px 4px rgb(44, 2, 11);
}

.grid-container{        
    display: grid;
    grid-template-columns: 600px;
    margin-top: 3%;    
    row-gap: 30px;
    justify-content: center;
}