<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/Styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">    
    <title>Los Simpsons</title>
</head>
<body>
    <div class="md-container p-3 bg-warning" id="contenedor_busqueda">
        <div class="m-2" id="search-container">
            <form class="buscar">
                <h2>Encuentra un personaje</h2>
                    <div class="container" id="buscador">
                        <input class="m-3 form-control" type="text" id="barra_busqueda">
                        <button class="m-3 btn btn-dark" type="submit" id="buscar">buscar</button>
                    </div>                
                <button class="p-2 btn btn-dark" id="btn_personajes">Ver personajes</button>
            </form>    
        </div>
    </div>
    <div class="lg-container m-3" id="resultados"></div>   

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>