*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    margin: 3em;    
}

#buscador{
    display: flex;  
}

#barra_busqueda{    
    max-width: 70%;    
}

#btn_personajes{
    width: 8em;
    margin-top: 2%;
    margin-left: 40%;    
}

#resultados{
    min-height: 500px;
}
