<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <title>Mis tareas</title>
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Regina Murguía</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Parcial 1
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="http://htmlpreview.github.io/?https://github.com/murguiRG/APPWEB/blob/master/Parcial1/CV/HTML/CV.html">
                                CV</a></li>
                            <li><a class="dropdown-item" href="https://htmlpreview.github.io/?https://github.com/murguiRG/APPWEB/blob/master/Parcial1/Google_replica/Google_rep.html">
                                Google replica</a></li>
                            <li><a class="dropdown-item" href="https://htmlpreview.github.io/?https://github.com/murguiRG/APPWEB/blob/master/Parcial1/Inputs1/Inputs.html">
                                Inputs 1</a></li>
                            <li><a class="dropdown-item" href="https://htmlpreview.github.io/?https://github.com/murguiRG/APPWEB/blob/master/Parcial1/Inputs2/Inputs2.html">
                                Inputs 2</a></li>
                            <li><a class="dropdown-item" href="https://htmlpreview.github.io/?https://github.com/murguiRG/APPWEB/blob/master/Parcial1/Invitacion/HTML/Invitacion.html">
                                Invitación</a></li>
                            <li><a class="dropdown-item" href="https://htmlpreview.github.io/?https://github.com/murguiRG/APPWEB/blob/master/Parcial1/Maquetado1.1/Maquetado1.1.html">
                                Maquetado 1.1</a></li> <!--Este sí se ve-->
                            <li><a class="dropdown-item" href="https://htmlpreview.github.io/?https://github.com/murguiRG/APPWEB/blob/master/Parcial1/Maquetado2.1/Maquetado2.1.html">
                                Maquetado 2.1</a></li>  <!--Este sí se ve-->                         
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Parcial 2
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://htmlpreview.github.io/?https://github.com/murguiRG/APPWEB/blob/master/Parcial2/CustomSaas/index.html">
                                Custom Saas</a></li>
                            <li><a class="dropdown-item" href="https://htmlpreview.github.io/?https://github.com/murguiRG/APPWEB/blob/master/Parcial2/Practica1/Practica1.html">
                                Práctica 1</a></li>
                            <li><a class="dropdown-item" href="https://htmlpreview.github.io/?https://github.com/murguiRG/APPWEB/blob/master/Parcial2/Practica2/Maquetado1.html">
                                Práctica 2</a></li>
                            <li><a class="dropdown-item" href="https://htmlpreview.github.io/?https://github.com/murguiRG/APPWEB/blob/master/Parcial2/Practica4/peliculas/view/peliculas.html">Práctica 4</a></li>                                                      
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Parcial 3
                        </a>
                        <ul></ul>
                    </li>                                      
                </ul>
            </div>
        </div>
    </nav>
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">

     <!--Carrusel-->   
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="/img/Captura de pantalla 2023-03-10 215201.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="/img/cloud computing.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="/img/qrcode-reader-0.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>

    <!--Cards-->
    
    <div class="container-lg p-5 mx-auto">
        <div class="card" style="width: 18rem;">
            <img src="/img/cloud computing.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/cloud computing.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/cloud computing.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/cloud computing.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
